#
#	Makefile for LaTeX2e documents (configuration)
#
#   $Id: Rules.LaTeX.config,v 4.0.2.1.2.2 1999/07/22 13:24:30 geert Exp $
# 
#   Copyright (C) 1996-1999 Department of Computer Science, K.U.Leuven, Belgium
# 
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
# 
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
# 
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

# -----------------------------------------------------------------------------
# Makefile for LaTeX2e documents (configuration)
# -----------------------------------------------------------------------------

LATEX =		./rlatex
BIBTEX =	bibtex
RM =		rm -f
FIG2PS =	fig2dev -L ps
DVIPS =		dvips -D 600
XDVI =		xdvi
LPR =		lpr -Pwit
MULTI =		multi -2 -Pgrijs
ZCAT =		zcat
PNMTOPS =	pnmtops -noturn
GIFTOPNM =	giftopnm
PS2PDF =	ps2pdf

All:		fake

